<style>
    .icon:hover{
        color: #ff6f61;
        cursor: pointer;
        scale: 1.1;
        transition: all 0.3s ease;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
</style>
<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://github.com/Khanasjad27" target="_blank" aria-label="Facebook">
                <i class="fa-brands fa-github icon"></i>
            </a>
            <a href="https://www.instagram.com/asjadkhan_27/" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-instagram icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/asjad-khan-ak27102005/" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin icon"></i>
            </a>
            <a href="https://wa.me/918108184070?text=Hi%20Asjad%20Khan!%20I%20want%20to%20know%20more%20about%20Wanderlust." target="_blank" aria-label="WhatsApp" target="_blank" aria-label="WhatsApp">
                <i class="fa-brands fa-whatsapp icon"></i>
            </a>
        </div>
        <div class="f-info-brand"> <a href="/listing">&copy; WanderLust Private Limited</a></div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp;
            <a href="/terms">Terms </a>
        </div>
    </div>
</footer>